<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @paper.student_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @paper.score %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
